<mat-card>
        <mat-form-field>
            <mat-label>Gender</mat-label>
          <mat-select #fontSize value="16px" (selectionChange)="triggerResize()">
            <mat-option value="10px">Male</mat-option>
            <mat-option value="12px">Female</mat-option>
            <mat-option value="14px">Transgender</mat-option>
            
          </mat-select>
        </mat-form-field>
      
        <mat-form-field>
            <mat-label>Area</mat-label>
          <mat-select #fontSize value="16px" (selectionChange)="triggerResize()">
            <mat-option value="10px">Tanuku</mat-option>
            <mat-option value="12px">Nidadavole</mat-option>
            <mat-option value="14px">Rajahmundry</mat-option>
            <mat-option value="16px">Bhimavaram</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
                <mat-label>Accidents</mat-label>
              <mat-select #fontSize value="16px" (selectionChange)="triggerResize()">
                <mat-option value="10px">Road Accident</mat-option>
                <mat-option value="12px">Slip & Trip Injury</mat-option>
                <mat-option value="14px">Motorbike Accidents</mat-option>
                <mat-option value="16px">Construction</mat-option>
              </mat-select>
            </mat-form-field>
      </mat-card>
