<mat-card  class='mat-elevation-z16' style='border-radius: 35px;'>
    <h3>Vishakapatanam Police Commissionerate</h3>
    <p>complex Rd,<br> Avanti Nagar, Basheer Bagh,<br> Ph. No : 040-27852721, 040-27852772<br>Email : echallanhelpdesk.viz@gmail.com </p>

</mat-card><br>

<mat-card  class='mat-elevation-z16' style='border-radius: 35px;'>
        <h3>Cyberabad Police Commissionerate</h3>
        <p>Next to Care Hospital, 2-48/P/21,<br> Telecom Nagar Extension, Gajuwaka,<br> vishkapatanam, rushikonda 500032.<br>Ph. No : 040-27853416 <br>Email : echallancybhelpdesk@gmail.com  </p>
    
</mat-card><br>

<mat-card  class='mat-elevation-z16' style='border-radius: 35px;'>
        <h3>kancharapalam Police Commissionerate</h3>
        <p>Plot No: 11, Ammma Daya Colony, <br> kanacharapalam,GSI Post, <br>(In the premises of kancharapalam Police Subsidary Canteen),<br>vishakapatanam, AP State,500068.<br>Ph. No : 040-27853000<br>Email : echallanrckhelpdesk@gmail.com</p>
        
</mat-card>
    