h1 {
    justify-content: center;
    text-align: center;
}

p {
    text-align: center;
}

.rb {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
    text-align: center;
}
.center {
    margin: auto;
    width: 60%;
    // border: 3px solid #73AD21;
    padding: 10px;
    text-align: center;
}

.inputForm {
    margin: 10px 20px 10px 20px;
}
.mat-card{
margin-top: 2%;
margin-left: 28%;
margin-right: 28%;
color: rgb(241, 55, 8);
background-color: white
}

button{
    background-color: rgb(8, 245, 245)
}