<mat-card>
  <mat-form-field>
      <mat-label>Area</mat-label>
    <mat-select #fontSize value="16px" (selectionChange)="triggerResize()">
      <mat-option value="10px">vizag</mat-option>
      <mat-option value="12px">rajahmundry</mat-option>
      <mat-option value="14px">vijayawada</mat-option>
      <mat-option value="16px">nidadavole</mat-option>
      <mat-option value="18px">tuni</mat-option>
      <mat-option value="20px">nellore</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
      <mat-label>Traffic</mat-label>
    <mat-select #fontSize value="16px" (selectionChange)="triggerResize()">
      <mat-option value="10px">Moderate</mat-option>
      <mat-option value="12px">Low Traffic</mat-option>
      <mat-option value="14px">Heavy Traffic</mat-option>
      <mat-option value="16px">Traffic Jam</mat-option>
    </mat-select>
  </mat-form-field>
</mat-card>
  