<mat-card class='mat-elevation-z8' style='border-radius: 35px;' > 
            <div class="example-container">
                <mat-form-field>
                  <input matInput placeholder="Name">
                </mat-form-field>
              
                <mat-form-field>
                  <textarea matInput placeholder="Textarea"></textarea>
                </mat-form-field>
              
                <mat-form-field>
                  <mat-select placeholder="Area">
                    <mat-option value="10px">Tanuku</mat-option>
                    <mat-option value="12px">Nidadavole</mat-option>
                    <mat-option value="14px">Rajahmundry</mat-option>
                    <mat-option value="16px">Bhimavaram</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field>
                        <mat-select placeholder="Accidents">
                                <mat-option value="10px">Road Accident</mat-option>
                                <mat-option value="12px">Slip & Trip Injury</mat-option>
                                <mat-option value="14px">Motorbike Accident</mat-option>
                                <mat-option value="16px">Construction Accidents</mat-option>
                        </mat-select>
                      </mat-form-field>
            </div>
            <!-- <button class="inputform" routerLink="">Submit</button> -->
</mat-card>
              