<!-- <mat-card class='mat-elevation-z16' style='border-radius: 35px;'>
<h3> welcome to python shishya</h3> -->

<!-- </mat-card> -->
<img src='assets/ph.png'>
<h1>Application form</h1>

<div style="border: 1px solid black">passport<br>size<br>photo</div>

<h3>Course applied for:</h3>
<p><input type="checkbox">Career Object Programming with Python(cop)<br><input type="checkbox">Data Analytics(Machine Learning)<input type="checkbox">Advanced Artificial Intelligence<br><input type="checkbox">Graph Analytics(Neo4)with spark<input type="checkbox">Block Chain with Hyperedge<br></p>