.mat-card{
    margin-top: 2%;
    margin-left: 28%;
    margin-right: 28%;
    background-color: rgb(7, 245, 7)
}

img{
    width: 20%;
    margin-top: 3%;
    margin-left: 2%;

}

h1{
    text-align: center;
    margin-top: -7%;
}

div{
    margin-top: -7%;
    width: 15%;
    margin-left: 80%;
    height: 30%;
}

h3{
    margin-left: 2%;
}

p{
    margin-left: 2%;
}